body{
	background-color:#C0C0C0	;
}
table{
	margin:10px auto;
	position: relative; 
}
td.card{
	width:80px;
	height:120px;
	margin:2px;
	background-size:cover;
}
/*以下を追記*/
td.card.back{
  background-image:url(../images/z01.gif) !important;
}


#partnerーtable{
    padding-bottom:250px;
	padding-top:80px;
}

#my_tr .open{
	position: relative; 
	top:-19px; 
}
#pa_tr .open{
	position: relative; 
	top:19px; 
}

.noclick{
	pointer-events: none;
  }