body{
	background-color:#C0C0C0	;
}
table{
	margin:10px auto;
	position: relative; 
}
td.card{
	width:100px;
	height:150px;
	margin:2px;
	background-size:cover;
}

#pa_tr td.card{
	width:68px;
	height:105px;
	margin:2px;
	background-size:cover;
}

/*以下を追記*/
td.card.back{
  background-image:url(../images/z01.gif) !important;
}


#partnerーtable{
    padding-bottom:30px;
}

#my_tr .open{
	position: relative; 
	top:-19px; 
}
#pa_tr .open{
	position: relative; 
	top:19px; 
}
.hover{
	position: relative;
	top:-19px; 
}

.noclick{
	pointer-events: none;
  }

	#partner_img{
		position: relative;
		top:19px; 
		width: 300px;
		margin: 0 auto;
		text-align: center;
		display: block;
	}

	h1{
		text-align: center;
		font-size: 50px;
		margin-top: 0m;
	}

	/* #next{
		position: relative;
		top:19px; 
		left:550px;
	} */

	#next_messeage{
	position: relative;
	margin: 0 auto;
	height: 80px;
	}

	#next_messeage h2 ,#next{
		margin: 0 auto;
		text-align: center;
		display: block;
		
	}

	.a {
	background-color: aliceblue;
	width: 250px;
	}

	#result a{
font-size: 18px;
	}